.background__image {
  position: absolute;
  opacity: 0;
  z-index: -1; }

.background__image--0 {
  height: 100vh;
  bottom: 0;
  right: 15vh;
  animation: 5s fadein25 infinite; }

.background__image--1 {
  top: 0;
  height: 80vh;
  top: 10vh;
  right: 23vh;
  animation: 5s fadein50 infinite 6s; }

.background__image--2 {
  height: 60vh;
  top: 20vh;
  right: 31vh;
  animation: 5s fadein infinite 3s; }

@keyframes fadein25 {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.25; }
  100% {
    opacity: 0; } }

@keyframes fadein50 {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }

@keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.hero {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 100px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 60vw;
  z-index: -1; }
  @media (max-width: 1440px) {
    .hero {
      width: 80vw; } }
  @media (max-width: 768px) {
    .hero {
      width: 100vw;
      padding-left: 32px;
      padding-right: 32px; } }

.hero__header {
  font-size: 62px;
  font-weight: 300;
  margin-bottom: 32px; }
  @media (max-width: 1024px) {
    .hero__header {
      font-size: 32px; } }
  @media (max-width: 460px) {
    .hero__header {
      font-size: 40px; } }

.hero__header span {
  font-weight: 400; }

.hero__info {
  font-size: 24px; }
  @media (max-width: 1024px) {
    .hero__info {
      font-size: 18px; } }

.nav {
  width: 100vw;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px; }

.nav__left {
  display: flex;
  align-items: center; }

.nav__logo {
  height: 40px; }

.nav__brand {
  color: #1c1ce1;
  text-decoration: none;
  font-size: 24px;
  margin-left: 40px; }

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0; }

.nav__link {
  font-size: 24px;
  text-decoration: none;
  color: #626262;
  margin-left: 24px; }

.nav__right {
  display: flex;
  align-items: center; }

.nav__icon {
  height: 25px;
  margin-left: 25px; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Work Sans;
  font-weight: 300; }
