.background__video {
  position: absolute;
  z-index: -1;
  height: 100vh;
  right: 0;
  top: 0; }
  @media (max-width: 1440px) {
    .background__video {
      position: relative;
      height: 50vh; } }
  @media (max-width: 460px) {
    .background__video {
      height: auto;
      width: 100vw; } }

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 90px - 40px);
  width: 100vw;
  z-index: -1;
  padding: 50px 0; }
  @media (max-width: 1440px) {
    .hero {
      flex-direction: column-reverse; } }
  @media (max-width: 768px) {
    .hero {
      padding-left: 32px;
      padding-right: 32px; } }
  @media (max-width: 460px) {
    .hero {
      padding-left: 24px;
      padding-right: 24px;
      margin-top: -30px; } }

.hero__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 100px; }
  @media (max-width: 1440px) {
    .hero__left {
      padding: 0;
      align-items: center; } }

.hero__header {
  font-size: 62px;
  font-weight: 300;
  margin-bottom: 32px; }
  @media (max-width: 1440px) {
    .hero__header {
      font-size: 32px;
      text-align: center; } }
  @media (max-width: 460px) {
    .hero__header {
      font-size: 22px;
      margin-top: 0; } }
  @media (max-width: 330px) {
    .hero__header {
      font-size: 19px; } }

.hero__header span {
  font-weight: 400; }

.hero__info {
  font-size: 24px; }
  @media (max-width: 1440px) {
    .hero__info {
      font-size: 18px;
      text-align: center; } }
  @media (max-width: 460px) {
    .hero__info {
      font-size: 14px; } }

@media (max-width: 460px) {
  .hero__info br {
    display: none; } }

.nav {
  width: 100vw;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px; }
  @media (max-width: 460px) {
    .nav {
      padding: 0 24px; } }

.nav__left {
  display: flex;
  align-items: center; }

.nav__logo {
  height: 40px; }

.nav__brand {
  color: #1c1ce1;
  text-decoration: none;
  font-size: 24px;
  margin-left: 40px; }
  @media (max-width: 1024px) {
    .nav__brand {
      font-size: 20px;
      margin-left: 32px; } }
  @media (max-width: 460px) {
    .nav__brand {
      margin-left: 18px; } }

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0; }
  @media (max-width: 768px) {
    .nav__links {
      position: absolute;
      top: 90px;
      left: 0;
      width: 100%;
      justify-content: space-evenly; } }

.nav__link {
  font-size: 24px;
  text-decoration: none;
  color: #626262;
  margin-left: 24px; }
  @media (max-width: 1024px) {
    .nav__link {
      font-size: 20px;
      margin-left: 18px; } }
  @media (max-width: 768px) {
    .nav__link {
      margin: 0; } }
  @media (max-width: 460px) {
    .nav__link {
      font-size: 18px; } }

.nav__right {
  display: flex;
  align-items: center; }

.nav__icon {
  height: 25px;
  margin-left: 25px; }
  @media (max-width: 460px) {
    .nav__icon {
      height: 20px;
      margin-left: 20px; } }

.footer {
  width: 100vw;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 18px; }

.footer__info {
  margin: 0;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6); }
  @media (max-width: 1440px) {
    .footer__info {
      font-size: 14px; } }
  @media (max-width: 460px) {
    .footer__info {
      font-size: 12px; } }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Work Sans;
  font-weight: 300; }
