.background__image {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 15vh;
  opacity: 0;
  z-index: -1; }

.background__image--0 {
  animation: 9s fadein infinite; }

.background__image--1 {
  animation: 9s fadein infinite 3s; }

.background__image--2 {
  animation: 9s fadein infinite 6s; }

@keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Work Sans;
  font-weight: 300; }

.hero {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 100px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 50vw;
  z-index: -1; }

.hero__header {
  font-size: 40px;
  font-weight: 300; }

.hero__header span {
  font-weight: 400; }

.hero__info {
  font-size: 22px; }

.nav {
  width: 100vw;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px; }

.nav__left {
  display: flex;
  align-items: center; }

.nav__logo {
  height: 40px; }

.nav__brand {
  color: #1c1ce1;
  text-decoration: none;
  font-size: 24px;
  margin-left: 40px; }

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0; }

.nav__link {
  font-size: 24px;
  text-decoration: none;
  color: #626262;
  margin-left: 24px; }

.nav__right {
  display: flex;
  align-items: center; }

.nav__icon {
  height: 25px;
  margin-left: 25px; }
