.hero
  position: absolute
  top: 0
  left: 0
  padding-left: 100px
  padding-bottom: 200px
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: center
  height: 100vh
  width: 50vw
  z-index: -1

.hero__header
  font-size: 40px
  font-weight: 300

.hero__header span
  font-weight: 400

.hero__info
  font-size: 22px