.background__image
  position: absolute
  opacity: 0
  z-index: -1

.background__image--0
  height: 100vh
  bottom: 0
  right: 15vh
  animation: 5s fadein25 infinite

.background__image--1
  top: 0
  height: 80vh
  top: 10vh
  right: 23vh
  animation: 5s fadein50 infinite 6s

.background__image--2
  height: 60vh
  top: 20vh
  right: 31vh
  animation: 5s fadein infinite 3s

@keyframes fadein25
  0%
    opacity: 0
  50%
    opacity: 0.25
  100%
    opacity: 0

@keyframes fadein50
  0%
    opacity: 0
  50%
    opacity: 0.5
  100%
    opacity: 0

@keyframes fadein
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0