@import ../config/breakpoints

.background__video
  position: absolute
  z-index: -1
  height: 100vh
  right: 0
  top: 0
  +media($breakpoint-xl)
    position: relative
    height: 50vh
    left: 50%
    transform: translateX(-50%)
  +media($breakpoint-sm)
    height: auto
    width: 100vw